/*=======================================

  Universal Styling

========================================*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

h1 {
    font-family: 'Caveat', cursive;
    color: #8A9AAF;
    font-size: 36px;
}

html{
  overflow(x): hidden;
}

/*=======================================

  Navigation Bar Styling

========================================*/

header {
  border-bottom: 7px solid #434548;
}

h1 a {
  text-decoration: none;
  font-family: 'Caveat' , cursive;
  font-size: 64px;
  position: absolute;
  vertical-align: top;
  color: #fff;
  top: 4px;
  left: 3%;
}

.menu {
  list-style: none;
  background: #8A9AAF;
  max-width: 100%;
  padding: 35px;
}

.menu > ul > li {
  display: inline-block;
  background: #8A9AAF;
  text-align: center;
  position: relative;
  left: 850px;
  top: 17px;
  font-size: 18px;
  text-underline-position: white;
}

.menu ul li a {
  color: white;
  display: block;
  text-decoration: none;
}

.menu-item {
  background: #8A9AAF;
  padding: 0px 32px;
}

.sub-menu {
  display: none;
}
.menu-item:hover .sub-menu {
  display: block;
}

.menu > ul > li > a:hover {
  font-weight: bold;
  text-decoration: underline overline;

}



/*=======================================

  Home Page Styling

========================================*/

.triptych {
  max-block-size: 625px;
  padding: 25px 50px 18px;
}

.hero_image {
position: relative;
left: 2%;
}

.caption {
position: absolute;
color: #434548;
font-size: 16px;
bottom: 20px;
right: 5.8%;
}

/*=======================================

  Contact Form Styling

========================================*/


.contact-form {
  max-width: 500px;
}


.submit input {
    background: #8A9AAF;
    color: rgb(255,255,255, 0.65);
    font-family: Montserrat semibold, sans-serif;
    padding: 5px 100px;
    border-radius: 45px;
    font-size: 24px;
    text-transform: uppercase;
}

.input-section {
  margin: 10px;
  border: 1px solid #2B2B2B;
  border-radius: 4px;
}

#name {
  font-size: 18px;
  font-family: Montserrat light, sans-serif;
  text-transform: uppercase;
  color: rgb(136, 148, 165, 0.5);
  padding: 2px 15px;
}

#email {
  font-size: 18px;
  font-family: Montserrat light, sans-serif;
  text-transform: uppercase;
  color: rgb(136, 148, 165, 0.5);
  padding: 2px 15px;
}

#message {
  font-size: 18px;
  font-family: Montserrat light, sans-serif;
  text-transform: uppercase;
  color: rgb(136, 148, 165, 0.5);
  padding: 2px 15px;
}
