/*=======================================

  Universal Styling

========================================*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

h1 {
    font-family: 'Caveat', cursive;
    color: #8A9AAF;
    font-size: 36px;
}

html{
  overflow-x: hidden;
}


/*=======================================

  Navigation Bar Styling

========================================*/

header {
  border-bottom: 7px solid #434548;
  background: #8A9AAF;
  max-width: 100%;
  padding: 40px;
}

h1 a {
  text-decoration: none;
  font-family: 'Caveat' , cursive;
  font-size: 64px;
  position: absolute;
  color: #fff;
  top: 10px;
  left: 7%;
}


.menu-nav > ul > li {
  display: inline-block;
  text-align: center;
  font-size: 18px;
  list-style: none;
  padding: 0px 76px;
}

.menu-nav ul li a {
  color: white;
  display: block;
  text-decoration: none;
  position: absolute;
  width: 170px;
}

.menu-nav ul {
  position: relative;
}


.menu-nav {
position: relative;
left: 715px;
}

.menu-item {
  background: #8A9AAF;
  list-style: none;
  display: inline-block;
}

.menu-nav > ul > li > a:hover {
  font-weight: bold;
  text-decoration: underline overline;
  text-underline-offset: 6px;
  text-decoration-thickness: 2px;

}

.sub-menu {
  display: none;
}
.menu-item:hover .sub-menu {
  display: block;
}





/*=======================================

  Footer Styling

========================================*/

.social_media {
  background: #E4E4E4;
  padding: 1px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  text-align: center;
}

.icons {
  color: #708198;
  font-size: 36px;
  position: relative;
  display: inline;
}


.fab, .far {
    font-weight: 400;
    padding: 0px 25px;
    color: #708198;
}

.fa, .fas {
    font-weight: 900;
    color: #708198;
}


/*=======================================

  Home Page Styling

========================================*/

.triptych {
  max-block-size: 595px;
  padding: 25px 50px 18px;
}

.hero_image {
position: relative;
left: 4%;
}

.caption {
position: absolute;
color: #434548;
font-size: 14px;
bottom: 56px;
right: 7.6%;
}


/*=======================================

  About Page Styling

========================================*/





/*=======================================

  Contact Form Styling

========================================*/


.contact-form {
  max-width: 500px;
}


.submit input {
    background: #8A9AAF;
    color: rgb(255,255,255, 0.65);
    font-family: Montserrat semibold, sans-serif;
    padding: 5px 100px;
    border-radius: 45px;
    font-size: 24px;
    text-transform: uppercase;
}

.input-section {
  margin: 10px;
  border: 1px solid #2B2B2B;
  border-radius: 4px;
}

#name {
  font-size: 18px;
  font-family: Montserrat light, sans-serif;
  text-transform: uppercase;
  color: rgb(136, 148, 165, 0.5);
  padding: 2px 15px;
}

#email {
  font-size: 18px;
  font-family: Montserrat light, sans-serif;
  text-transform: uppercase;
  color: rgb(136, 148, 165, 0.5);
  padding: 2px 15px;
}

#message {
  font-size: 18px;
  font-family: Montserrat light, sans-serif;
  text-transform: uppercase;
  color: rgb(136, 148, 165, 0.5);
  padding: 2px 15px;
}
