/*=======================================

  Universal Styling

========================================*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

html {
    overflow: hidden;
}

h1 {
    font-family: 'Caveat', cursive;
    color: #8A9AAF;
}

/*=======================================

  Navigation Bar Styling

========================================*/

.container {
  background-color: #8A9AAF;
  padding: 43px;
  border-bottom: 7px solid #434548;
}

h1 a {
  text-decoration: none;
  font-family: 'Caveat' , cursive;
  font-size: 75px;
  position: absolute;
  vertical-align: top;
  color: #fff;
  top: -8px;
  left: 3%;
}

.menu {
  position: absolute;
  right: 3%;
  top: 6%;
}

.menu ul {
  list-style: none;
  text-align: center;
}

.menu > ul > li {
  display: inline-block;
  position: relative;
  vertical-align: top;
  padding: 0px 16px;
  font-size: 22px;
}

.menu > ul > li > a:hover {
  font-weight: bold;
  text-decoration: underline overline;

}

.menu ul li a {
  text-decoration: none;
  color: #fff;
  display: block;
  text-transform: uppercase;
}

.sub-menu {
  display: none;
}

.menu-item {
  background: #8A9AAF;
}

.menu-item:hover .sub-menu {
    display: block;
    background-color: #8A9AAF;
}

/*=======================================

  Home Page Styling

========================================*/

.triptych {
  max-block-size: 625px;
  padding: 25px 50px 18px;
}

.hero_image {
position: relative;
left: 2%;
}

.caption {
position: absolute;
color: #434548;
font-size: 16px;
bottom: 20px;
right: 5.8%;
}
